/*LOGO*/
.logo {
    display: inline-block;
    margin-left: 1.2rem;
}

.logo figcaption {
    font-family: var(--police-titre);
    font-size: 2rem;
}

.logo>figure {
    gap: 1.2rem;
}

/*BOUTONS*/
.bouton {
    display: inline-block;
    padding: 0.6rem;
    margin: 0.4rem 0;
    font-weight: 700;
    color: var(--couleur-secondaire);
    background-color: var(--couleur-cta);
    border: 2px solid var(--couleur-secondaire);
    border-radius: 0.4rem;
    box-shadow: var(--ombre);
    cursor: pointer;
}

/*CARTES VENTES*/
main>.items {
    margin: 2.4rem 0;
    gap: 2rem;
}

main>.items>.item {
    width: 360px;
    min-height: 660px;
    gap: 1.6rem;
    background-color: var(--couleur-articles);
    box-shadow: var(--ombre);
    padding: 1.4rem;
}

.informations {
    gap: 1rem;
}

.information {
    font-weight: 700;
}

/*VENTE ARTICLE*/
main>.article {
    max-width: var(--section-wrapper);
    margin: 3.2rem auto;
    gap: 2rem;
    background-color: var(--couleur-articles);
    padding: 2rem;
    box-shadow: var(--ombre);
}

main>.article>img,
main>.article>h2 {
    align-self: center;
}

/*TAGS*/
.tags {
    gap: 0.8rem;
}

.tag {
    display: inline-block;
    border: 2px solid var(--couleur-cta);
    font-weight: 700;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

/*PAGINATION*/
nav.pagination {
    width: 100%;
}

ul.pagination-links {
    gap: 0.4rem;
}

ul.pagination-links>li:not(:first-child, :last-child) a {
    display: block;
    border: 2px var(--couleur-cta) solid;
    border-radius: 0.2rem;
    font-weight: 700;
    padding: 0.6rem 0.8rem;
    box-shadow: var(--ombre);
}

ul.pagination-links #current-page {
    display: block;
    padding: 0.6rem 0.8rem;
}

.btn-pagination {
    width: 2.6rem;
    height: 2.6rem;
    fill: var(--couleur-cta);
}
