:root {
    --couleur-primaire: #E5D9D0;
    --couleur-secondaire: #2D2D2D;
    --couleur-navigation: rgba(192, 160, 138, 0.9);
    --couleur-articles: #EFEFEF;
    --couleur-cta : rgba(124, 161, 41, 0.9);
    --ombre: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --main-wrapper: 1280px;
    --section-wrapper: 800px;
    --police-texte: 'Poppins', Arial, Helvetica, sans-serif;
    --police-titre : 'Shantell Sans', 'Times New Roman', Times, serif;
}

/*STYLES GLOBAUX*/
html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--couleur-primaire);
    color: var(--couleur-secondaire);
    font-family: var(--police-texte);
}

h1,
h2,
h3,
h4,
h5,
ul,
figure,
p {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--police-titre);
    font-size: 2rem;
}

h2 {
    font-family: var(--police-titre);
    font-size: 1.4rem;
}

li {
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: var(--couleur-secondaire);
}

address {
    font-style: normal;
}

input::placeholder,
textarea::placeholder {
    font-style: italic;
}
